[user]
	name = Balazs Szucs
	email = balazs.szucs@me.com
[core]
	excludesfile = /User/localadmin/.gitignore_global
	editore = vim
	page = less -x4
[credential]
	helper = osxkeychain
[push]
	default = simple
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
